.card-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 255, 181);
    border: 1px solid black;
    border-radius: 7px;
    padding: 21px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition:transform 0.21s ease-out ;
}
.card-container:hover{
    transform: scale(1.04);
}